nav.navbar{
    padding: 20px;
    font-size:large;
}

body{
    background-color: rgb(224, 240, 255);
    font-family: monospace;
    text-align: center;
}

a:not(.nav){
    background-color: transparent !important;
}

.card{
    background-color: aliceblue;
    border-width: 0px;
    padding: 15px;
    border-radius: 10px;
}

.alert{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

li.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}