body{
    background-color: #cff79c;
  }

.container{
  margin-bottom: 50px;
}

.row{
  margin: auto;
  display: flex;
  justify-content: center;
}

button{
  margin: none;
  backgrond-color: #cff79c;
}

.drop{
  position: relative;
  display: inline-block;
}

.dropbtn{
  background-color: #e4ffc2;
  color: black;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
}

.drop:hover .dropdown-content {
  display: flex;
}

.drop:hover .dropbtn {
  background-color: #cff79c;
}

button img{
  width: 80%;
}
