<!DOCTYPE html>

<!--
  Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
  Magical Magnolias
  SoftDev
  P02: Makers Makin' It, Act I
  2025-01-15
-->

<html>
  <head>
    <title>Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/game.css">
  </head>

  <body>
    <!-- navbar -->
    <nav>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li> <a href="{{ url_for('home') }}"> Home </a> </li>          
        </ul>
        <p class="navbar-text"> Flower power (show currency here) </p>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> Profile </a> </li>
          <li><a href="{{ url_for('logout') }}"> Logout </a> </li>
        </ul>
      </div>
    </nav>
    <!------>

    <div class="container">
    
      <!-- headder/info --> 
      <h1> minigame </h1> 

      <div class="well">        
        solve equations for magic power!
      </div>
      <!------>

      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ message }}
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <!------>

      <br>

      <!-- game -->
      <div class="game">
        <form action="{{ url_for('game') }}" method="POST">
          {{ eq1[0] }} + {{ eq1[1] }} = <input type="number" name="eq1_ans" > <br><br>
          {{ eq2[0] }} + {{ eq2[1] }} = <input type="number" name="eq2_ans"> <br><br>
          {{ eq3[0] }} + {{ eq3[1] }} = <input type="number" name="eq3_ans"> <br><br>
          <input type="hidden" name="eq_info" value="{{ eq1 }}###{{ eq2 }}###{{ eq3 }}">
          <input type="submit" name="POST" value="Submit">
        </form>
      </div>
      <!----->
    </div>  
  </body>
</html>
