<!DOCTYPE html>

<!--
  Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
  Magical Magnolias
  SoftDev
  P02: Makers Makin' It, Act I
  2025-01-15
-->

<html>
  <head>
    <title>Game</title>
  </head>

  <body>
    <!-- flash messages -->
    <i> 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          message:
          {% for message in messages %}
            <br>{{ message }}
          {% endfor %}
      {% endif %}
    {% endwith %}
    </i>

    <br><br>

    This is the game.

    <br><br>

    equation 1: {{ eq1 }} <br><br>
    equation 2: {{ eq2 }} <br><br>
    equation 3: {{ eq3 }} <br><br>

    <form action="{{ url_for('game') }}" method="POST">
      {{ eq1[0] }} + {{ eq1[1] }} = <input type="number" name="eq1_ans" > <br><br>
      {{ eq2[0] }} + {{ eq2[1] }} = <input type="number" name="eq2_ans"> <br><br>
      {{ eq3[0] }} + {{ eq3[1] }} = <input type="number" name="eq3_ans"> <br><br>
      <input type="hidden" name="eq_info" value="{{ eq1 }}###{{ eq2 }}###{{ eq3 }}">
      <input type="submit" name="POST" value="Submit">
    </form>

  </body>
</html>
