<!DOCTYPE html>

<!--
Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
Magical Magnolias
SoftDev
P02: Makers Makin' It, Act I
2025-01-15
-->

<html>
    <head>
        <title>Garden</title>

        <!-- bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="stylesheet" href="/static/css/garden.css">
        <script src="/static/js/script.js"></script>
    </head>

    <body>
        <!-- navbar -->
        <div class="container-fluid">
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('home') }}"> Home </a> </li>
                    <li class="nav-item"> <p class="navbar-text"> Flower score: {{ fs }} </p> </li>
                    <li class="nav-item"> <p class="navbar-text"> Magic power: {{ mp }} </p> </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('profile') }}"> {{ session['username'] }}'s Profile </a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{{ url_for('logout') }}"> Logout </a> </li>
                </ul>
            </nav>
        </div>
        <!------>

        <div class="container">

            <!-- header/info -->
            <h1> {{session['username']}}'s garden </h1>

            <!------>

            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <br>
                  <div class="alert alert-info">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <!------>

            <br>

            <i> days: {{ day }}</i>

            <br>

            <!-- garden info -->
            {% for grid in garden_info %}

                {% set id = grid[0] %}
                {% set tempuser = grid[1] %}
                {% set flower_type = grid[2] %}

                {% if (id%6) == 1 %}
                    <div  class="row">
                      {% endif %}

                      <!-- grid space -->
                          <div class="drop">
                            <button class="dropbtn">

                              <!-- image of flower in grid if planted -->
                              {% if flower_type != "none" %}
                                <img class="planted-img" src="/static/images/{{ flower_type }}.png" alt="image error" style="margin: 5px;">
                              {% endif %}

                            </button>
                            <div class="dropdown-content">


                                <!-- options to plant seed if none planted in grid space -->
                                {% if flower_type == 'none' %}
                                <form action="/garden" method="POST">
                                  {% for flower in flower_info %}
                                    {% set flower_id = flower[0] %}
                                    {% set name = flower[1] %}
                                    {% set img = flower[5] %}
                                    <button type="submit" name="flower" value="{{ id }}###{{flower_id}}###{{name}}"><img class="seed-img" src="/static/images/{{img}}"></button>
                                  {% endfor %}
                                </form>
                                {% endif %}

                                <!-- option to water or pick flower in grid space -->
                                {% if flower_type != 'none' %}
                                <form action="/garden" method="POST">
                                  <button type="submit" name="water" value="{{ id }}">&#128167;</button>
                                </form>
                                <form action="/garden" method="POST">
                                  <button type="submit" name="pick" value="{{ id }}">&#128400;</button>
                                </form>
                                {% endif %}


                            </div>
                          </div>
                      <!-- grid space -->

                      {% if (id%6) == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            <!----->
            <br>
            <form action="/garden" method="POST">
              <!-- <input type="hidden" name="time" value={{session['username']}}> -->
              <input type="submit" name="time" value="Next Day">
            </form>
        </div>
    </body>
</html>
