<!DOCTYPE html>

<!--
  Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
  Magical Magnolias
  SoftDev
  P02: Makers Makin' It, Act I
  2025-01-15
-->

<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <i>message: {{ message }}</i>
          {% endfor %}
      {% endif %}
    {% endwith %}

    <br><br>

    This is the homepage.

    <br><br>

    {% if session['username'] %}
      user in session: {{ session['username'] }}
    {% endif %}

    <br><br>

    <a href="{{ url_for('game') }}">Game</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('shop') }}"> Shop </a>


    <script src="/static/js/script.js"></script>

  </body>
</html>
