<!DOCTYPE html>

<!--
  Nia Lam, Amanda Tan, Naomi Lai, Kishi Wijaya
  Magical Magnolias
  SoftDev
  P02: Makers Makin' It, Act I
  2025-01-15
-->

<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p id="flashes">{{ message }}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}

    This is the homepage. 
  </body>
</html>
